@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  src: url('../fonts/Rubik-Regular.ttf');
}
@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  src: url('../fonts/Rubik-Medium.ttf');
}
@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  src: url('../fonts/Rubik-Bold.ttf');
}
@font-face {
  font-family: 'Rubik';
  font-weight: 900;
  src: url('../fonts/Rubik-Black.ttf');
}

body {
  font-size: 1.25rem;
  line-height: 1.8rem;
  background: #ffffff;
  color: #16161d;
  width: 100%;
  font-family: 'Rubik';
}
a {
  text-decoration: none !important;
}

.font-weight-500 {
  font-weight: 500;
}

/**** CORE ****/
.big-title {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.5rem;
  letter-spacing: -2px;
  color: #003343;
}
.title {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: 0.18px;
  color: #003343;
}
.small-title {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.875rem;
  letter-spacing: 0.11px;
  color: #003343;
}
.description {
  letter-spacing: 0.1px;
  color: #878787;
  margin-top: 12px;
}

/**** HEADER ****/
header {
  font-weight: 500;
  border-bottom: 1px solid #e8e8e8;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
}
header .navbar {
  min-height: 80px;
}
header .navbar-brand {
  position: relative;
}
header .navbar-brand::after {
  position: absolute;
  left: 65px;
  top: -3px;
  content: 'Beta';
  font-size: 0.75rem;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #0dceda;
  font-weight: normal;
  padding: 0 12px;
  border: 1px solid #0dceda;
  border-radius: 25px;
}
header .navbar-nav {
  margin-left: auto;
  align-items: center;
}
.navbar-nav .nav-item.active .nav-link {
  color: #16161d;
}
.navbar-nav .nav-item .nav-link {
  padding: 0 1.375rem;
}
.signin-button {
  font-weight: 500;
  margin-left: 2rem;
  background: #ffffff;
  border-radius: 8px;
  line-height: 30px;
  padding: 7px 44px;
  transition: 0.5s;
  position: relative;
}
.signin-button::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 2px;
  left: 0px;
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 0px #0dceda;
  border-radius: 6px;
  transform: translate3d(0.5px, 2px, 1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.signin-button,
.signin-button:hover {
  color: #0dceda;
  background-color: white;
  border: 2px solid #0dceda;
}
.signin-button:hover {
  transform: translate(0.1em, 0.1em);
}
.signin-button:hover::after {
  box-shadow: 0px 0px 0px #0dceda;
  transform: translate3d(0.5px, 0px, 1em);
}

/**** FOOTER ****/
footer {
  padding: 80px 0;
}
.social-media-list,
.footer-links {
  padding-left: 0;
  text-align: center;
}
.social-media-list li {
  display: inline;
  padding: 0 16px;
}
.social-media-list li:hover img {
  filter: invert(57%) sepia(78%) saturate(1794%) hue-rotate(154deg)
    brightness(104%) contrast(90%);
}
.footer-links {
  margin-top: 32px;
}
.footer-links li {
  display: inline;
}
.footer-links a {
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #003343;
  margin: 0 24px;
  transition: 0.4s;
}
.footer-links a:hover {
  color: #0dceda;
}
.copyRight {
  text-align: center;
  letter-spacing: 0.1px;
  color: #8a8a8e;
  margin-top: 32px;
}

@media (max-width: 767px) {
  .navbar-nav {
    display: block;
    text-align: center;
    margin: 16px 0;
  }
  .signin-button {
    margin-left: 0;
    margin-top: 10px;
  }
  .footer {
    padding: 60px 0;
  }
  .footer-links {
    margin-top: 20px;
  }
  .copyRight {
    margin-top: 24px;
  }
  .footer-links a {
    margin: 0 10px;
  }
}

@media (max-width: 991px) {
  .signin-button {
    padding: 4px 30px;
    margin-left: 0;
  }
  .navbar-nav {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .navbar-nav li {
    margin: 10px 0;
  }
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
}

@media (max-width: 1164px) {
  body {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .toggle {
    padding: 16px 10px;
  }
}
