/**** CAPTION ****/
.caption {
  text-align: center;
  margin: auto;
}
.caption-small-title {
  display: block;
  font-size: 0.93rem;
  line-height: 1.3rem;
  letter-spacing: 0.075px;
  color: #878787;
  margin-bottom: 6px;
}

/**** EMAIL FORM ****/
.email-form {
  background: #ffffff;
  border: 2px solid #737377;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  margin-top: 50px;
}
.email-form input {
  border: none;
  display: block;
  height: 100%;
  height: 48px;
  width: calc(100% - 230px);
  padding: 0 1rem;
}
.email-form input::placeholder {
  letter-spacing: 0.1px;
  color: #737377;
}
.email-form button {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3rem;
  letter-spacing: 0.1px;
  color: #e7fafb;
  background: #0dceda;
  border-radius: 2px;
  padding: 14px 4px;
  width: 230px;
  border: 1px solid transparent;
  transition: 0.4s;
}
.email-form button:hover {
  background: #00a3ad;
}

/**** BANNER ****/
.home-banner {
  min-height: 100vh;
  padding: 80px 0;
  display: flex;
  align-items: center;
  background: linear-gradient(240.03deg, #45e5c2 -25.84%, #0dceda 100%);
}
.home-banner .description {
  color: #ffffff;
}
.home-banner .email-form {
  border-color: #0c9199;
}

/**** MESSAGE ****/
.message-wrapper {
  background: #f4fcfd;
}
.message {
  padding: 100px 0;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 51, 67, 0.06);
  border-radius: 4px;
  position: relative;
  top: -60px;
}
.message .email-form {
  margin-top: 80px;
  width: 80%;
  margin: 3rem auto 0 auto;
}
.message .description {
  margin: 2rem 0;
}
.message .description:first-child {
  margin-top: 3rem;
}
/**** DISCUSSION ****/
.discussion {
  padding-top: 20px;
  padding-bottom: 60px;
  background: #f4fcfd;
}

/**** SUBSCRIPTION ****/
.subscription {
  padding: 140px 0;
  background: linear-gradient(227.25deg, #45e5c2 -25.84%, #0dceda 100%);
}
.subscription .description {
  color: #ffffff;
}

/**** MATERIAL ****/
.material {
  padding: 60px 0;
  background: #f4fcfd;
}

/**** CONVERSATION ****/
.conversation {
  padding: 60px 0 80px 0;
  background: #f4fcfd;
}

@media (max-width: 540px) {
  .email-form {
    display: block;
  }
  .email-form button,
  .email-form input {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .discussion {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .material {
    padding: 30px 0;
  }
  .conversation {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .subscription,
  .message {
    padding: 70px 0;
  }
  .message .email-form {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .home-banner {
    padding-top: 160px;
  }
}
